  body{
    background-color: rgb(142, 142, 231);
  }
  .listitems{
    padding: 10px;
    margin:10px 10px 10px 0;
    width: 40%;
  }
  .listpers{
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 20px;
    border-radius: 10px;
  }  
  .listpers p{
      padding: 5px;
      position: relative;
      color: rgba(228, 235, 228, 0.582);
      font-weight: bolder;
  }
  .listpers p span{
      position: absolute;
      right: 0px;
      cursor: pointer;
  }
  
  .platform {
    background-color: rgb(223, 109, 2);
  }
  .logo{
    width: 40px;
    height: 36px;
    margin: 0 0;
    margin-top: 2px;
    font-size: 15px;
   
  }
  .inputs{
      background-color: rgb(241, 247, 244);
      border: 0px;
      width: 200px;
      height: 50px;
      padding: 0 20px;
      margin: 20px;
      font-size: 18px; 
      border-radius: 10px;

  }
  .buttns{
      border-radius: 10px;
      background-color: rgb(61, 126, 248);
      height: 50px;
      width: 100px;
      border: 0px;
      cursor: pointer;
      font-weight: bolder;

  }
  .contacts{
      background-color: rgb(232, 234, 240);
      min-height: 500px;
      width: 400px;
      margin-top: 50px;
      margin: 50px auto;
      overflow: scroll;
  }
  .inser-contact {
    background-color: rgb(243, 171, 113);
    height: 40px;
    width: 210px;
    padding: 0 20px;
    font-size: 18px; 
    border-radius: 6px;
    color: rgb(239, 239, 250);
    border: 0px;
}
.group{
  width: 35px;
  height: 35px;
  margin: 0 5px;
  margin-top: 30px;
  font-size: 15px;
}
.mng-contacts{
  text-align: center;
  font-size: 40px;
  color: rgb(4, 4, 122);
  font-weight: bolder;
}